@model ShoppingCartApp.Models.CartItem

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div>
    <form asp-action="Remove">
        <input asp-for="@Model.ItemName" class="form-control" value="MyValue" hidden />
        <input type="submit" value="Call Controller Method" class="btn btn-warning" />
    </form>
</div>